
.metadata/.log

.metadata/.mylyn/.tasks.xml.zip

.metadata/.mylyn/repositories.xml.zip

.metadata/.mylyn/tasks.xml.zip

.metadata/.plugins/org.eclipse.core.resources/.projects/Lab1-EV3-WallFollower/.indexes/af/history.index

.metadata/.plugins/org.eclipse.core.resources/.projects/Lab1-EV3-WallFollower/.indexes/history.index

.metadata/.plugins/org.eclipse.core.resources/.projects/Lab1-EV3-WallFollower/.markers

.metadata/.plugins/org.eclipse.core.resources/.projects/Lab1-EV3-WallFollower/org.eclipse.jdt.core/state.dat

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version

.metadata/.plugins/org.eclipse.core.resources/.root/2.tree

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs

*.prefs

*.csv

*.index

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

*.txt

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

*.dat

*.xml

*.history

*.ini

*.xmi
